*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}
body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: grid;
    place-items: center;
}
.container{
    width: 800px;
    height: 600px;
    background-color:lightgray;
    display: flex;
    user-select: none;
}
.ledger{
    background-color: black;
    color: #ffffff;
    padding: 20px;
    flex: 1;
    border-radius: 17px 0px 0px 17px;
}
.ledger h1,.ledger h2{
    padding: 10px 10px;
}
.Yb{
    padding: 20px 0 0 10px;
}
.inc-exp-container{
    display: flex;
    margin-top: 13px;
}
.inc{
    flex: 1;
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
    background-color: rgb(24, 221, 24);
    color: #ffffff;
    border-radius: 7px;
    line-height: 27px;
}
.exp{
    flex: 1;
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
    background-color: rgb(235, 32, 32);
    color: #ffffff;
    border-radius: 7px;
    line-height: 27px;
}
#form{
    margin: 10px;
}
.form-control{
    margin: 20px 0px;
}
#desc,#amtincome,#amtexpense{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-style:none;
    outline: none;
}
.amountdiv{
    display: flex;
}
#amtincome,#amtexpense{
    margin:10px 3px;
}
.btn{
    margin:17px auto;
    padding: 10px;
    width: 100%;
    background-color:#4169E1;
    border-radius: 5px;
    border-style: none;
    color:#ffffff;
    font-size: 14px;
}
.btn:hover{
    background-color: white;
    color:black;
    border: black solid 2px ;
    font-weight: 900;
    box-shadow: 0px 0px 30px white;
}
.transaction{
    background-color:white;
    padding: 20px;
    flex: 1;
    border-radius: 0px 17px 17px 0px;
    overflow-y: scroll;
}

/* transaction details */
.trans{
    list-style-type: none;
    width: 100%;
    padding:13px 0px;
}
.income,.expense{
    padding: 10px;
    margin: 13px 0;
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.income{
    border: solid rgb(24, 221, 24);
    flex-wrap: wrap;
}
.expense{
    border: solid  rgb(235, 32, 32);
    flex-wrap: wrap;
}
.date{
    font-size: 13px;
    padding-top: 1.5px;
}
.amtInList{
    font-weight: 700;
}

/* transaction delete button */
.btn-del{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    border-radius: 30%;
    background-color: rgb(229, 18, 18);
    color: #ffffff;
    line-height: 19px;
    border: none;
    opacity: 0;
}
.trans li:hover .btn-del{
    opacity: 1;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color:transparent;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#4169E1;
    border-radius: 5px;
}

@media (max-width:850px) {
    body{
        height: 100%;
        width: 100%;
    }
    .container{
        display: block;
        width: 100%;
    }
    .ledger{
        background-color: black;
        color: #ffffff;
        padding: 20px;
        flex: 1;
        border-radius: 0px 0px 0px 0px;
    }
    .transaction{
        background-color:white;
        padding: 20px;
        flex: 1;
        border-radius: 0px 0px 0px 0px;
        overflow-y: scroll;
    }
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

